* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    
}


body {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    background-color: rgb(9, 39, 66) !important; 
}

main {
    margin-top: 2rem;
    background-color: whitesmoke;
    border-radius: 2.5rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    height: 800px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}


#current-temperature-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
}

#current-temperature-text img {
    width: 150px;
    height: 150px;
   
}

#highlights{
    display: flex;
    text-align: center;
    display: none;
    overflow: scroll;
}

i{
    padding: 1rem;
}

#error-state{
    text-align: center;
    display: none;
}



footer{
    color: white;
}